.description{
    padding: 10px;
}
.description img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.blockPicture img{
    width: 100%;
}
.contacts{
    padding-left: 40px;
}
.error{
    color: red;
    font-size: 20px;
    border: 1px solid red;

}