.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid black;
}

.dialog {

}

.messages {
    padding: 10px;
}



.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*message*/
.messageContainer{
    width: 100%;
    display: flex;
}
.message {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: crimson;
    height: 20px;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
}
.left{
justify-content: start;
}
.right{
    justify-content: end;
}